# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages used by data scientist
- Commonly used libraries by data scientist
- List of data science tools
- Examples of evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|RStudio|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Pradnya Barve